* {
    font-family: HK Grotesk, sans-serif;
}

#brand {
    font-weight: bolder;
    letter-spacing: 2px;
}

.navbar {
    box-shadow: #6c757d 0 1px 10px 0;
}

.nav-link {
    font-size: 13px;
    letter-spacing: 3px;
}

.form-label {
    font-size: 12px;
    text-transform: uppercase;
}

.text-primary-hover:hover {
    color: var(--bs-primary);
}
